{% extends 'temlate.html' %}
{% block body %}
<div class="container"></div>
<table border=0 align=left cellpadding=10 cellspacing="500">
    <tr><td></td><td></td><td align="center"><br><br><video src="../static/Synthwave Robot Animation Loop - Creative Commons.mp4" autoplay loop muted width="1000" height="660"></video></td></tr>
    <tr><td></td><td></td><td align="center"><h1><font color="white">ПОГРУЗИТЕСЬ В МУЛЬТИВСЕЛЕННУЮ РОБОТОТЕХНИКИ</font></h1></td></tr>
</table>
    <table border=0 align=right cellpadding=100 cellspacing=100>
        <tr><td align="center"><a href="/about/quadcopter"> <img src="../static/4-kopter.jpg" alt="Квадрокоптер" height="300" width=530"></a><br><br><br><br><font color="white" size=5>Квадрокоптер </font></td></tr>
        <tr><td align="center"><a href="/about/uno_car"><img src="../static/robo_car.jpg" alt="Машина на всенаправленных колесах" height="400"></a><br><br><br><br><font color="white" size=5>Машина на всенаправленных колесах</font></td></tr>
        <tr><td align="center"><a href="/about/manipulator"><img src="../static/Manipulator.jpg" alt="Манипулятор" height=400 width=530></a><br><br><br><br><font color="white" size=5>Манипулятор</font></td></tr>
</table>

{% endblock %}
