{% extends 'temlate.html' %}
{% block body %}
  <main class="px-3">
      <br>
    <h1 align=center><font color="white">МАНИПУЛЯТОР</font></h1>
      </main>
<table border=0 align=center cellpadding=10 cellspacing="500">

    <tr><td><video src="../static/проект.mp4" autoplay controls loop width="1000" height="660"></video></td></tr>
</table>

  <main class="px-3">
      <br>
    <h1 align=center><font color="white">Три парня и роборука</font></h1>
      <h1 align=center><font color="white">Развлечения с бутылкой </font></h1>
      </main>
{% endblock %}