{% extends 'temlate.html' %}
{% block body %}
  <main class="px-3">
      <br>
    <h1 align=center><font color="white">КВАДРОКОПТЕР</font></h1>
      </main>

<table border=0 align=center cellpadding=10 cellspacing="500">
    <tr><td><video src="../static/quadrocopter.mp4" autoplay controls loop muted width="1000" height="660"></video></td></tr>
</table>

  <main class="px-3">
      <br>
    <h1 align=center><font color="white">Тщетная попытка взмыть в воздух. </font></h1>
      <h1 align=center><font color="white">Четвертый предатель. </font></h1>
      <h1 align=center><font color="white">Трагедия 2022 года. </font></h1>
      </main>
{% endblock %}