{% extends 'temlate.html' %}
{% block body %}
  <main class="px-3">
      <br>
    <h1 align=center><font color="white">МАШИНА НА ВСЕНАПРАВЛЕННЫХ КОЛЕСАХ</font></h1>
      </main>

<table border=0 align=center cellpadding=10 cellspacing="500">
    <tr><td><video src="../static/uno_car.mp4" autoplay controls loop width="1000" height="660"></video></td></tr>
</table>

  <main class="px-3">
      <br>
    <h1 align=center><font color="white">Boston dynamics в шоке.</font></h1>
      <h1 align=center><font color="white">Пермские робототехники представили свою разработку.</font></h1>
      </main>
{% endblock %}